$treemapSize: 300px;
$spacerSize: 7px;

@mixin float {
  float: left;
}

.treemap {
  width: $treemapSize;
  height: $treemapSize;
  @include float;
}

.vSpacer {
  width: $spacerSize;
  height: $treemapSize;
  @include float;
}

.hSpacer {
  height: $spacerSize;
  clear: both;
}