$treemapSize: 300px;
$spacerSize: 7px;

html * {
   font-size: 1em;
}

@mixin marginBottom {
  margin-bottom: $spacerSize;
}

.treemap {
  width: $treemapSize;
  height: $treemapSize;
  margin-right: $spacerSize;
  @include marginBottom;
  float: left;
}

.description {
  @include marginBottom;
  clear: both;
}


